<div class="content">
  <div class="ui form">
    <div class="field">
      <textarea class="character-name" placeholder="Character name">{{ name }}</textarea>
    </div>
    <i class="icon trash circular red inverted remove-character"></i>
  </div>
  <!--<div class="character-name name"></div>
  <div class="character-name name" contenteditable="">{{ name }}</div>-->
</div>