<div class="content">
    <div class="ui input icon fluid">
        <input class="character-name" placeholder="Character name" value="{{ name }}" />
        <i class="icon trash circular red inverted remove-character"></i>
    </div>
</div>
