<a class="item" id="combat-reset">
    <i class="remove sign icon"></i> Reset
</a>
<a class="item" id="combat-next">
    <i class="play icon"></i> Next
</a>
<a class="item">
    Turn: <strong>{{ turn }}</strong>
</a>