<a class="item right" id="menu-help">
    <i class="help circle icon"></i>
</a>
<div class="ui modal" id="modal-help">
    <i class="close icon"></i>
    <div class="header">
        What is popcorn-init?
    </div>
    <div class="content">
        <p>
            Popcorn initiative is a neat solution to the usual boring initiative rolls during a standard Pathfinder combat.<br />
            It is an original idea by <a href="https://twitter.com/TheAngryDM">@TheAngryDM</a>
        </p>
        <p>
            For details about what it is and what it does, make sure to
            <a href="http://angrydm.com/2013/09/popcorn-initiative-a-great-way-to-adjust-dd-and-pathfinder-initiative-with-a-stupid-name/">read his blog post</a>.
        </p>
        <div class="ui horizontal icon divider">
            <i class="circular heart icon"></i>
        </div>
        <p>
            This tool was made to help myself during our campaigns, but feel free to use it.
            I'll throw in my twitter, in case, you know.
        </p>
        <a href="https://twitter.com/fourniermart" class="ui button mini icon labeled blue">
            <i class="twitter icon"></i>@fourniermart
        </a>
    </div>
</div>
